{% extends 'base.html.twig' %}
{% block body %}
    {% include 'partials/header.html.twig' %}
        <div id="huidigaanbod">
            <img src="{{ asset('images/pexels-photo-237018.jpeg') }}" class="header-foto2" alt="">
            <div class="huidigaanbod-box container">
                <div class="block col-md-12">
                    <div class="head">
                        <h2>Campers & Caravans</h2>
                        <p>Hier bij de Dissel hebben wij een exclusief aantal campers en caravans te huur.<br>
                            Hier onder ziet u al onze te huren campers en caravans, we hebben voor iedereen wel wat moois staan.<br>
                            Of u nou een leuke knussen caravan wilt om lekker dat echte kampeer gevoel te krijgen, of een hele luxe camper met alles er op en er aan, wij hebben het voor u!</p>
                    </div>
                </div>
                <div class="huidigaanbod-content">
                    <div class="block col-md-12 aanbod">
                        <div class="huidigaanbod col-md-4 col-sm-6">
                            <img src="{{ asset('images/test.png ') }}">
                            <div class="tekst"><p>Mooie campert joh! huren dat ding !!!</p></div>
                        </div>
                        <div class="huidigaanbod col-md-4 col-sm-6">
                            <img src="{{ asset('images/test.png ') }}">
                            <div class="tekst"><p>Mooie campert joh! huren dat ding !!!</p></div>
                        </div>
                        <div class="huidigaanbod col-md-4 col-sm-6">
                            <img src="{{ asset('images/test.png ') }}">
                            <div class="tekst"><p>Mooie campert joh! huren dat ding !!!</p></div>
                        </div>
                        <div class="huidigaanbod col-md-4 col-sm-6">
                            <img src="{{ asset('images/test.png ') }}">
                            <div class="tekst"><p>Mooie campert joh! huren dat ding !!!</p></div>
                        </div>
                        <div class="huidigaanbod col-md-4 col-sm-6">
                            <img src="{{ asset('images/test.png ') }}">
                            <div class="tekst"><p>Mooie campert joh! huren dat ding !!!</p></div>
                        </div>
                        <div class="huidigaanbod col-md-4 col-sm-6">
                            <img src="{{ asset('images/test.png ') }}">
                            <div class="tekst"><p>Mooie campert joh! huren dat ding !!!</p></div>
                        </div>
                        <div class="huidigaanbod col-md-4 col-sm-6">
                            <img src="{{ asset('images/test.png ') }}">
                            <div class="tekst"><p>Mooie campert joh! huren dat ding !!!</p></div>
                        </div>
                        <div class="huidigaanbod col-md-4 col-sm-6">
                            <img src="{{ asset('images/test.png ') }}">
                            <div class="tekst"><p>Mooie campert joh! huren dat ding !!!</p></div>
                        </div>
                        <div class="huidigaanbod col-md-4 col-sm-6">
                            <img src="{{ asset('images/test.png ') }}">
                            <div class="tekst"><p>Mooie campert joh! huren dat ding !!!</p></div>
                        </div>
                    </div>
                </div>
                <ul class="pager">
                    <li><a href="#" class="vorige">Vorige</a></li>
                    <li><a href="#" class="volgende">Volgende</a></li>
                </ul>
            </div>
        </div>
    {% include 'partials/footer.html.twig' %}
{% endblock %}