{% extends '/base.html.twig' %}
{% block body %}
    {% include '/partials/header.html.twig' %}
    <div id="content">
        <div class="content-box container">
            <div class="row">
                <h2 class="col-md-6" style="font-family: europa;">Opties overzicht</h2>
                <div class="col-md-6" style="display: flex; justify-content: flex-end; align-items: center; height: 80px;">
                    <a href="{{ path('admin_add_option') }}">
                        <div class="btn btn-primary" style="font-family: proxima-nova;">
                            <i class="fas fa-plus-square"></i> Nieuwe optie
                        </div>
                    </a>
                </div>
            </div>
            {% if error is defined %}
                {{ error }}
            {% endif %}
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Titel</th>
                    <th scope="col">Datum uit</th>
                    <th scope="col">Datum terug</th>
                    <th scope="col">Beschikbaar</th>
                    <th scope="col">Prijs</th>
                    <th scope="col">Acties</th>
                </tr>
                </thead>
                <tbody>
                    {% for option in options %}
                        <tr>
                            <th scope="row">{{ option.id }}</th>
                            <td>{{ option.optieTitel }}</td>
                            <td>
                                {% if option.optieDatumUit is not empty %}
                                    {{ option.optieDatumUit|date("d/m/Y", false) }}
                                {% else %}
                                    Niet beschikbaar
                                {% endif %}
                            </td>
                            <td>
                                {% if option.optieDatumTerug is not empty %}
                                    {{ option.optieDatumTerug|date("d/m/Y", false) }}
                                {% else %}
                                    Niet beschikbaar
                                {% endif %}
                            </td>
                            <td>{{ option.beschikbaarheid ? '<i class="fas fa-check" style="color: #52af52;"></i>' : '<i class="fas fa-times"></i>' }}</td>
                            <td>€ {{ option.optiePrijs|number_format(2, ',', ',') }}</td>
                            <td>
                                <a href="{{ path('admin_edit_option', {'id': option.id }) }}" style="margin-right: 15px;">
                                    <i class="fas fa-edit"></i> Bewerken
                                </a>
                                <a href="{{ path('admin_delete_option', {'id': option.id }) }}">
                                    <i class="fas fa-trash-alt"></i> Verwijderen
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% include '/partials/footer.html.twig' %}
{% endblock %}